

.top-header{
    background-color: black;
    height: 30px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: bisque;
    position: fixed;
}

#hero-section{
    background-color: aqua;
    height: 500px;
}