body{
    overflow-y: auto;
}
/* ---header---- */
header{
    width: 100%;
    position: fixed;
    z-index: 1;
}

.top-header{
    background-color: black;
    height: 30px;
    width: 100%;
    padding-right: 10px;
}

.top-header-img img{
    width: 50px;
}
/* ----hover buttons--- */
.brd-btn-grey:hover{
    padding: 1px;
    border: 3px solid #212529;
}

.brd-btn-red:hover{
    padding: 2px;
    border: 3px solid #dc3545;
}

.brd-btn-blue:hover{
    padding: 1px;
    border: 3px solid rgb(0, 102, 255);
}


/* -----navbar---- */
.nav-item .nav-link{
    color: black;
}

 .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 102, 255)!important;
    
 }

/* ----utilities----- */
img{
    width: 100%;
}

.pd-top{
    padding-top: 50px;
}

.br-img{
    border-radius: 15px;
}

.bd-0{
    border: 0;
}

.bandw{
    filter:opacity(0.6);
}


/* main */

#jumbo-1{
    padding-top: 90px;
}

.jumbo-bg{   
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.logo{
    width: 250px;
}

.h-scale:hover{
    transform: translateY(-20px);
    transition: transform 0.7s;
}

.active{
    border-bottom: 1px solid skyblue;
}

.brd-active{
    padding: 3px;
    border: 2px solid rgb(0, 119, 255);
}

.jumbo-bg-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.bg-grey{
    background-color: lightgrey;
}

.bg-blue{
    background-color: #071431;
}
/* -----main hover---- */

.bandw:hover{
    filter: opacity(1);
    transition: filter 1s;
}

/* footer */
.footer-bg{
    background-color: #03449b;
}

.footer-logo{
    width: 100px;
}

.f-col a{
    text-decoration: none;
}

.f-col a:hover{
    text-decoration: underline;
}