header{
    width: 100%;
    position: fixed;
}

.top-header{
    background-color: black;
    height: 30px;
    width: 100%;
    padding-right: 10px;
}

.top-header-img img{
    width: 50px;
}

img{
    width: 100%;
}

.pd-top{
    padding-top: 50px;
}

.br-img{
    border-radius: 15px;
}
/* main */

#jumbo-1{
    padding-top: 90px;
}

.jumbo-bg{
    height: 60vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.returnal-logo{
    width: 200px;
}
